.App {
  text-align: center;
}

#Ftrow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: blueviolet;
}
#Sdrow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: cornflowerblue;
}
#Thirdrow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: darkcyan;
}